<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file> <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
        <append>true</append> </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="db" level="INFO" />
    <logger name="model" level="INFO" />
    <logger name="org.example.Main" level="INFO" />

    <logger name="org.postgresql.jdbc" level="WARN" />

</configuration>